ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

li:hover {
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

span {
  overflow: hidden;
  text-overflow: ellipsis;
}

li.completed {
  background-color: #e6ffed;
  text-decoration: line-through;
  color: var(--success-color);
  position: relative;
}

li.completed:after {
  content: '✔';
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: var(--success-color);
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--success-color);
  color: white;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  margin-left: 10px;
}

button:hover {
  background-color: #218838;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.todo-item {
  flex: 1;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}
